/* geral */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
html, body, div {
    padding: 0px;
    margin: 0px;
}
html {
    font-family: var(--defaultFont);
    color: var(--textColor);
}

/* var lib */
html {
    --defaultFont: 'Roboto';
    --textColor: #45596e;
    --navText: #F2F5F7;
    --navBackgorund: #2A3F54;
    --topbarBackground: #EDEDED;
    --topbarColor: #51535E;
}
/* end var lib */


/* STRUCTURAL CLASSES  */
.systemContainer1 {
    /* flex son */
    flex-grow: 1;

    /* flex dad */
    display: flex;
    flex-direction: row;

    /* common */
    height: 100vh;
}
.leftBarContainer {
    /* flex son */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 230px;

    /* flex dad */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* common */
    color: var(--navColor);
    background-color: var(--navBackgorund);
    padding: 20px 20px;
}
.navFlex {
    /* flex son */
    
    /* flex dad */
    display: flex;
    flex-direction: column;

    /* common */
}
.rightPageContainer {
    /* flex son */
    flex-grow: 1;
    flex-shrink: 1;

    /* flex dad */

    /* common */
    color: var(--textColor);
}
.content {
    padding: 0 20px;
}

/* auxiliares */
.border,
.border > * {
    border: 1px solid #00000055;
}
.centerText {
    text-align: center;
}
.bold {
    font-weight: bold;
}
a.link {
    color: inherit;
    text-decoration: none;
}
a.link:visited {
    color: inherit;
}
a.link:hover {
    filter: brightness(70%);
}
/* auxiliares end */


/* header */
header {
    background-color: var(--navBackgorund);
    color: var(--navText);
    font-size: 2em;
}
/* header end */


/* nav */
nav {
    background-color: var(--navBackgorund);
    color: var(--navText);
}
nav > span,
nav > a {
    padding: 8px 0px;
}
nav > span {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
}
/* nav end */


/* topbar */
.topbar {
    background-color: var(--topbarBackground);
    color: var(--topbarColor);
    padding: 20px 3%;
    text-align: right;
}
.topbar .welcomeName {
    margin-right: 20px;
}
.topbar > a {
    margin-right: 20px;
}
/* end topbar */


/* internal page styles */
.pageTitle {
    /* flex son */

    /* flex dad */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* end internal page styles */


/* divs caixas */
.maxWidth800 {
    max-width: 800px;
}
/* divs caixas end */


/* tables */
table.tableBorder,
table.tableBorder th,
table.tableBorder td {
    border-bottom: 1px solid #00000055;
    border-collapse: collapse;
}
table.tableCell td {
    padding: 10px 5px;
}
table.fullWidthTable {
    width: 100%;
}
/* tables end */


/* forms */
.formContainer {
    /* flex son */

    /* flex dad */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formFlex {
    /* flex son */
    flex-basis: 800px;
    flex-shrink: 1;
    flex-grow: 0;

    /* flex dad */
    display: flex;
    flex-direction: column;
}
label.formLabel {
    margin-top: 8px;
    margin-bottom: 5px;
    cursor: text;
}
input.formInput,
select.formInput,
textarea.formInput {
    margin-bottom: 8px;
    padding: 10px 10px;
}
input.formInput,
select.formInput,
textarea.formInput {
    font-size: 1em;
    border: 1px solid #00000055;
    font-family: var(--defaultFont);
    min-width: 80px;
}
input.formInput:focus,
select.formInput:focus,
textarea.formInput:focus {
    box-shadow: 0px 0px 1px 2px #55aaff;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
input[type="submit"] {
    cursor: pointer;
}
/* forms end */


/* buttons cores */
.btn {
    min-width: 80px;
    font-family: var(--defaultFont);
    font-size: 1em;
    display: inline-block;
    margin: 8px 2px;
    padding: 10px 10px;
    border: 0px;
    cursor: pointer;
}
a.btn {
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    filter: brightness(95%);
}
.btnPrimary {
    color: #ffffff;
    background-color: #007bff;
}
.btnSecondary {
    color: #ffffff;
    background-color: #6c757d;
}
.btnSuccess {
    color: #ffffff;
    background-color: #28a745;
}
.btnDanger {
    color: #ffffff;
    background-color: #dc3545;
}
.btnWarning {
    color: #ffffff;
    background-color: #ffc107;
}
.btnInfo {
    color: #ffffff;
    background-color: #17a2b8;
}
.btnLight {
    color: #555555;
    background-color: #f8f9fa;
}
.btnDark {
    color: #ffffff;
    background-color: #343a40;
}
/* end buttons cores */


/* box cores */
.box {
    margin: 8px 0px;
    padding: 10px;
}
.boxPrimary {
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
}
.boxSecondary {
    color: #383d41;
    background-color: #e2e3e5;
    border: 1px solid #d6d8db;
}
.boxSuccess {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.boxDanger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.boxWarning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
}
.boxInfo {
    color: #0c5460;
    border: 1px solid #bee5eb;
    background-color: #d1ecf1;
}
.boxLight {
    color: #818182;
    background-color: #fefefe;
    border: 1px solid #fdfdfe;
}
/* cores end*/